[submodule "duo_client"]
	path = duo_client
	url = ./duo_client
[submodule "mozdef_lib"]
	path = mozdef
	url = ./mozdef_lib
[submodule "mozdef_client"]
	path = mozdef_client
	url = https://github.com/gdestuynder/mozdef_client
